<!DOCTYPE html>

<head>
  
    <title>formulaire</title>
</head>
<body>
    <form method="post" action="/">
        <label>
            quel est votre nom?
        </label>
        <input type="text" name="myname" />
        <input type="submit" value="envoyer" />
    </form>
    
</body>
</html>